[user]
	name = anran.mar
	email = anran.mar@alipay.com
[alias]
	st = status
	co = checkout
	cm = commit
	br = branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	unstage = reset HEAD --
[core]
	filemode = false
